body { 
  font-family: sans-serif; 
  background-image: url('../4.IKT.projekt-main/images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  background-attachment: fixed;
  background-color: none;
}

h1{
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
}

h2{
  font-size: 30px !important;
  margin-bottom: 20px !important;
}

h3{
  margin-top: 40px;
  font-size: 20px !important;
}

h2,h3,p{
  margin-bottom: 10px;
  margin-left: 10px;
}

p{
  text-align: justify;
}

p, h1, h2, h3{
  text-shadow: 0 0 3px black, 0 0 5px black;
  margin-left: 10%;
  margin-right: 10%;
}

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

ul {
  display: flex;
  list-style: none;
  transition: all 2s ease;
  transition-timing-function: all 10s;
}

.slider {
margin-left: 70%;
width: 450px;
height: 250px;
overflow: hidden;
border-radius: 3px;
box-shadow: 3px 10px 15px 0px rgba(0,0,0,0.4);
}

img {
width: 450px;
height: 250px;
border-radius: 3px;
}

button{
  margin: 5px 10px 5px 10px;
  color: rgb(19, 18, 18);
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 2px;
  margin-top: 6px;
  line-height: 20px;
  width: 70px;
  transition: 0.2s;
}

button:hover{
  color: rgb(255, 51, 0);
  font-size: 101%;
  box-shadow: 0 0 0 4px #fff, 0 0 0 8px #000000;
}

#copy{
  text-align: center;
  margin: 2.5px;
}
#teszt{
  margin-top: 35px;
  margin-bottom: 100px;
  margin-left: 75%;
  line-height: 60px;
  width: 150px;
}

#udvozlo{
  border: 3px white solid;
  margin: 70px 145px 50px 145px;
  padding: 20px;
  background-image: url('images/grey.jpg');
  border-radius: 1rem;
}

#box{
  font-style: italic;
}

span{
  font-size: 80%;
  text-align: center;
  text-shadow: none;
}

.cardflashpage{
  margin: 105px 0px 0px 50px !important;
}

.scene {
  margin: 40px;
  display: inline-block;
  width: 280px;
  height:150px;
  border: none;
  perspective: 600px;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: .2s;   
  margin: 20px 50px 0px 80px;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  backface-visibility: hidden;
}

.card__face--front {
  background: crimson;
}

.card__face--back {
  background: slateblue;
  transform: rotateY(180deg);
}

footer{
  position: fixed;
  width: 100%;
  background-color:#f73939;
  color: white;
  bottom: 0;
  text-align: right;
  line-height: 35px;
  letter-spacing: 2px;
}

header{
  position: fixed;
  width: 100%;
  background-color:#f73939;
  color: black;
  top: 0;
  text-align: left;
  line-height: 45px;
  z-index:99;
}

#elsoflashcard{
  margin-top: 550px;
}

.card2{
  width: 1050px;
  height:500px;
  float: left;
  margin: 5px !important;
}

#card-text{
  text-align-last: center;
}

.elso1{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/horace.jpg.png');
}
.elso2{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/john.png');

}
.masodik1{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1966.jpg');

}
.masodik2{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1966-2.jpg');
  font-size: 90%;
}
.harmadik1{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1969.jpg');
  font-size: 75%;
}
.harmadik2{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1968.jpg');
  display: flex;
  flex-direction: column;
}
.negy1{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1971.jpg');
  font-size: 75%;
}
.negy2{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1972.jpg');
  font-size: 75%;
}
.ot1{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1975.jpg');
  font-size: 75%;
}
.ot2{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1975-2.jpg');
  font-size: 75%;
}
.hat1{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1984.jpg');
  font-size: 75%;
}
.hat2{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1987.jpg');
  font-size: 75%;
}
.het1{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/2006.jpg');
  font-size: 75%;
}
.het2{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/2010-2.jpg');
  font-size: 75%;
}
.nyoc1{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/2023.jpg');
  font-size: 75%;
}
.nyoc2{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/2023-2.jpg');
  font-size: 75%;
}
.chegy1{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1970ch\ .jpg');
  font-size: 75%;
}
.chegy2{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1970ch-2\ .jpg');
  font-size: 75%;
}
.chketto1{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1971ch\ .jpg');
  font-size: 75%;
}
.chketto2{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1971ch-2\ .jpg');
  font-size: 75%;
}
.chharom1{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1972ch\ .jpg');
  font-size: 75%;
}
.chharom2{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1972ch-2\ .jpg');
  font-size: 75%;
}
.chnegy1{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1973ch\ .jpg');
  font-size: 75%;
}
.chnegy2{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1973ch-2\ .jpg');
  font-size: 75%;
}
.chot1{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1974ch\ .jpg');
  font-size: 75%;
}
.chot2{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/1974ch-2\ .jpg');
  font-size: 75%;
}
.chhat1{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/2008ch.jpg');
  font-size: 75%;
}
.chhat2{
  background-size: cover;
  background-image: url('../4.IKT.projekt-main/images/2008ch-2\ .jpg');
  font-size: 75%;
}
