body { 
  font-family: sans-serif; 
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  background-attachment: fixed;
  background-color:rgba(31, 126, 86, 0.815);
  margin-left: 0;
}

h1{
  margin-top: 30px;
  text-align: center;
}

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

ul {
  display: flex;
  list-style: none;
  transition: all 2s ease;
  transition-timing-function: all 10s;
}

.slider {
margin-left: 1200px;
width: 450px;
height: 250px;
overflow: hidden;
border-radius: 3px;
box-shadow: 3px 10px 15px 0px rgba(0,0,0,0.4);
}

img {
width: 450px;
height: 250px;
border-radius: 3px;
}

button{
  margin: 0px 5px 5px 0px;
  color: aquamarine;
  background-color: rgb(10, 90, 10);
}

button:hover{
  color: rgb(93, 221, 253);
  font-size: 101%;
}

#copy{
  text-align: center;
  margin: 2.5px;
}
#teszt{
  float: right;
}

span{
  font-size: 80%;
}

.cardflashpage{
  margin:88px 0px 0px 50px !important;
}

.scene {
  margin: 40px;
  display: inline-block;
  width: 280px;
  height:150px;
  border: none;
  perspective: 600px;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: .2s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  backface-visibility: hidden;
}

.card__face--front {
  background: crimson;
}

.card__face--back {
  background: slateblue;
  transform: rotateY(180deg);
}

footer{
  position: fixed;
  width: 100%;
  background-color:rgba(31, 126, 86, 0.815);
  color: black;
  bottom: 0;
  text-align: right;
  line-height: 100%;
}

header{
  position: fixed;
  width: 100%;
  background-color:rgba(31, 126, 86, 0.815);
  color: black;
  top: 0;
  text-align: left;
  line-height: 45px;
  padding-left: 5px;
  padding: 2.5px !important;
}

.card2{
  width: 1050px;
  height:500px;
}

.elso1{
  background-size: cover;
  background-image: url('green-dodge-challenger-4k-2020-hz.jpg');
}
.elso2{
  background-size: cover;
  background-image: url('wheel.png');
  font-size: 75%;
}